<nav id="frontend-devtools-component" class="navbar navbar-fixed-bottom">

    <div class="navbar-inner">
        <a class="brand" href="#">Front-End Dev Tools</a>

        <ul class="nav">
          <li>{{#linkTo marketplace.hold_transaction class="btn"}}Show Modal Dialog Mockup{{/linkTo}}</li>
        </ul>
    </div>

</nav>