<header class="modal-header">
    <h1 class="heading">{{view.heading}}</h1>
</header>

<p class='body-copy'>{{view.bodyCopy}}</p>

<footer class="modal-footer user-actions">
    <a href="#" class="close">No</a>
    <a href="#" class="confirm">Yes</a>
</footer>