<header class="modal-header">
    <h2 class="heading">{{view.heading}}</h2>
</header>

<div class="modal-body">
    <p class='body-copy'>{{view.bodyCopy}}</p>
</div>

<footer class="modal-footer user-actions">
    <button class="btn danger" data-dismiss="modal" aria-hidden="true" {{action close}}>No</button>
    <button class="btn">Yes</button>
</footer>