<header>
    <h1 class="heading">{{view.heading}}</h1>
</header>

<p class='body-copy'>{{view.bodyCopy}}</p>

<footer class="user-actions">
    <a href="#" class="confirm">Yes</a>
    <a href="#" class="close">No</a>
</footer>