<h1 class='page-title'>Hold</h1>

{{#linkTo hold.void class="btn user-actions void"}}
Void
{{/linkTo}}

{{#linkTo hold.capture class="btn user-actions capture"}}
Capture
{{/linkTo}}

<span class="hold-id">{{hold}}</span>