<section id="marketplace-hold-transaction" class="modal-dialog-component">
    <header>
        <h1 class="heading">Void Hold</h1>
    </header>

    <p class='body-copy'>Are you sure you want to cancel this hold?</p>

    <footer class="user-actions">
        <a href="#" class="confirm">Yes</a>
        <a href="#" class="close">No</a>
    </footer>
</section>