<section id="marketplace-hold-transaction" class="modal-dialog-component">
    {{view Balanced.ModalDialogComponent heading="Void Hold" bodyCopy="Are you sure you want to cancel this hold"}}
</section>